.cloud{
    position: relative;
    left: 750px;

}
.bottom{
    position: absolute;
}
  
.top{
    position: relative;
    margin-left: 550px;
}

   
     




.first{
    background-color: rgb(213, 233, 241);
    
   
    
}
.pro{
    text-decoration: underline;
}





body{
    color: #40514E;
    margin: 0px;
   
    text-align: center;
    font-family:'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family:'sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
}
h2{
    font-family:'montserrat', sons-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family:'montserrat', sons-serif;

}
.vishal{
    width: 12%;
    
}
.prog{
    width: 13%;
    float: right;
    position:absolute;
    left: 200px;

}
.laptop{
    width: 13%;
    float: left;
    position:absolute;
    right: 200px;
    

}
.bu{
    color: rgb(250, 250, 250);
  background-color: rgb(19, 4, 116);
}
button:hover{
    color: #000;
}
hr{
    border: dotted rgb(212, 206, 206) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #12fa9d;
    background-image: -webkit-linear-gradient(top, #12fa9d, #00ff77);
    background-image: -moz-linear-gradient(top, #12fa9d, #00ff77);
    background-image: -ms-linear-gradient(top, #12fa9d, #00ff77);
    background-image: -o-linear-gradient(top, #12fa9d, #00ff77);
    background-image: linear-gradient(to bottom, #12fa9d, #00ff77);
    text-decoration: none;
  }
  .btn{
      margin: 50px;
  }
  .bottom-container{
      background-color:mediumturquoise;
      padding: 20px 0 8px;
  }
  a{
      margin: 10px 20px;
      text-decoration: none;
  }
  a:hover{
      color: white;
  }